<!DOCTYPE html>
<html>
<head>
	<title>To-do App</title>
	<link type="text/css" href="/public/style.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>To-do list</h1>
<div class="todo-table">
	<form>
		<input type="text" name="item" placeholder="Add item here..." required>
		<button type="submit">Add item</button>
	</form>
</div>
</body>
</html>